<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" placeholder="Username" class="form-control my-2" id="username" name="username" [(ngModel)]="user.username">
    </div>
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" placeholder="Nombre" class="form-control my-2" id="name" name="name" [(ngModel)]="user.name">
    </div>
    <div class="form-group">
        <label for="lastName">Apellido</label>
        <input type="text" placeholder="Apellido" class="form-control my-2" id="lastName" name="lastName" [(ngModel)]="user.lastName">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" placeholder="Email" class="form-control my-2" id="email" name="email" [(ngModel)]="user.email">
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" placeholder="Contraseña" class="form-control my-2" id="password" name="password" [(ngModel)]="user.password">
    </div>
    <button type="submit" class="btn btn-primary my-2">Guardar</button>
</form>
