<div class="card">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title">{{ (user.id && user.id > 0) ? 'Actualizar' : 'Agregar' }} Usuario</h5>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" placeholder="Username" class="form-control my-2" id="username" name="username" [(ngModel)]="user.username" required minlength="8" #username="ngModel">
                    @if(username.invalid && (username.dirty || username.touched)) {
                        @if(username.errors?.['required']) {
                            <div class="alert alert-danger">
                                <p>El username es requerido</p>
                            </div>
                        }
                        @if(username.errors?.['minlength']) {
                            <div class="alert alert-danger">
                                <p>El username debe tener al menos 8 caracteres</p>
                            </div>
                        }
                    }
                </div>
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" placeholder="Nombre" class="form-control my-2" id="name" name="name" [(ngModel)]="user.name" required minlength="3" #name="ngModel">
                    @if(name.invalid && (name.dirty || name.touched)) {
                        @if(name.errors?.['required']) {
                            <div class="alert alert-danger">
                                <p>El nombre es requerido</p>
                            </div>
                        }
                        @if(name.errors?.['minlength']) {
                            <div class="alert alert-danger">
                                <p>El nombre debe tener al menos 3 caracteres</p>
                            </div>
                        }
                    }
                </div>
                <div class="form-group">
                    <label for="lastname">Apellido</label>
                    <input type="text" placeholder="Apellido" class="form-control my-2" id="lastname" name="lastname" [(ngModel)]="user.lastname" required minlength="3" #lastname="ngModel">
                    @if(lastname.invalid && (lastname.dirty || lastname.touched)) {
                        @if(lastname.errors?.['required']) {
                            <div class="alert alert-danger">
                                <p>El apellido es requerido</p>
                            </div>
                        }
                        @if(lastname.errors?.['minlength']) {
                            <div class="alert alert-danger">
                                <p>El apellido debe tener al menos 3 caracteres</p>
                            </div>
                        }
                    }
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Email" class="form-control my-2" id="email" name="email" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel">
                    @if(email.invalid && (email.dirty || email.touched)) {
                        @if(email.errors?.['required']) {
                            <div class="alert alert-danger">
                                <p>El email es requerido</p>
                            </div>
                        }
                        @if(email.errors?.['pattern']) {
                            <div class="alert alert-danger">
                                <p>El email no es válido</p>
                            </div>
                        }
                    }
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" placeholder="Contraseña" class="form-control my-2" id="password" name="password" [(ngModel)]="user.password" required minlength="8" #password="ngModel">
                    @if(password.invalid && (password.dirty || password.touched)) {
                        @if(password.errors?.['required']) {
                            <div class="alert alert-danger">
                                <p>La contraseña es requerida</p>
                            </div>
                        }
                        @if(password.errors?.['minlength']) {
                            <div class="alert alert-danger">
                                <p>La contraseña debe tener al menos 8 caracteres</p>
                            </div>
                        }
                    }
                </div>
                <button type="submit" class="btn btn-primary m-2" [disabled]="userForm.invalid">{{ (user.id && user.id > 0) ? 'Actualizar' : 'Guardar' }}</button>
                <button type="button" class="btn btn-secondary m-2" (click)="onClear(userForm)">Limpiar</button>
            </form>
            
        </div>
      </div>
  </div>
